@page "/users"
@using ApplicationLayer.CQRS.User.Queries
@using ApplicationLayer.DTOs.User
@inject IUserAPIService UserAPIService

<PageTitle>Users Data</PageTitle>

<h3>Users Data</h3>

<button @onclick="LoadUser">Load User</button>

@if (usersList != null)
{
    <ul>
        @foreach (var user in usersList)
        {
            <li>User ID: @user.Id</li>
            <li>Email: @user.Email</li>
        }
    </ul>
}

@code {
    public ReadUserQuery userQuery = new ReadUserQuery();
    public IEnumerable<ReadUserDTO>? usersList;

    private async Task LoadUser()
    {
        usersList = await UserAPIService.API_ReadAllUsers(userQuery);
    }
}
